flows.json
[
    {
        "id": "tab_iot_dash",
        "type": "tab",
        "label": "IoT Dashboard (HTTP+MQTT)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cmt_info",
        "type": "comment",
        "z": "tab_iot_dash",
        "name": "Gebruik EEN input: HTTP POST /sensor of MQTT topic sensors/esp32. Inject is voor test.",
        "info": "",
        "x": 350,
        "y": 60,
        "wires": []
    },
    {
        "id": "inj_test",
        "type": "inject",
        "z": "tab_iot_dash",
        "name": "TEST: dummy JSON (every 2s)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"node_id\":\"esp32-01\",\"temperature\":23.4,\"vibration\":{\"x\":100,\"y\":120,\"z\":90},\"alarm\":\"OK\"}",
        "payloadType": "json",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "ed8653b85f990ac0"
            ]
        ]
    },
    {
        "id": "http_in",
        "type": "http in",
        "z": "tab_iot_dash",
        "name": "HTTP IN  (POST /sensor)",
        "url": "/sensor",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "json_http"
            ]
        ]
    },
    {
        "id": "json_http",
        "type": "json",
        "z": "tab_iot_dash",
        "name": "to JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "fn_normalize",
                "http_ok"
            ]
        ]
    },
    {
        "id": "http_ok",
        "type": "function",
        "z": "tab_iot_dash",
        "name": "HTTP 200 OK",
        "func": "msg.payload = { ok: true };\nmsg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "x": 560,
        "y": 220,
        "wires": [
            [
                "http_resp"
            ]
        ]
    },
    {
        "id": "http_resp",
        "type": "http response",
        "z": "tab_iot_dash",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "mqtt_in",
        "type": "mqtt in",
        "z": "tab_iot_dash",
        "name": "MQTT IN (sensors/esp32)",
        "topic": "sensors/esp32",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "json_mqtt"
            ]
        ]
    },
    {
        "id": "json_mqtt",
        "type": "json",
        "z": "tab_iot_dash",
        "name": "to JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 360,
        "y": 260,
        "wires": [
            [
                "fn_normalize"
            ]
        ]
    },
    {
        "id": "fn_normalize",
        "type": "function",
        "z": "tab_iot_dash",
        "name": "Normalize + timestamp",
        "func": "let p = msg.payload;\n\n// 1) Als het een string is -> JSON maken\nif (typeof p === \"string\") {\n  try { p = JSON.parse(p); } catch (e) {}\n}\n\n// 2) Als het een array is -> eerste element nemen\nif (Array.isArray(p)) p = p[0] || {};\n\n// 3) Als het nog steeds geen object is -> leeg object\nif (!p || typeof p !== \"object\") p = {};\n\n// 4) Velden normaliseren (meerdere mogelijke namen)\nconst node_id = p.node_id || p.nodeId || msg.topic || \"esp32-01\";\n\nlet temperature = Number(p.temperature ?? p.temp ?? p.t);\nif (!Number.isFinite(temperature)) temperature = 0;\n\nconst vibIn = p.vibration || p.vib || {};\nlet x = Number(vibIn.x ?? p.vib_x);\nlet y = Number(vibIn.y ?? p.vib_y);\nlet z = Number(vibIn.z ?? p.vib_z);\n\nif (!Number.isFinite(x)) x = 0;\nif (!Number.isFinite(y)) y = 0;\nif (!Number.isFinite(z)) z = 0;\n\nconst alarm = p.alarm || p.status || \"OK\";\n\n// Output altijd hetzelfde format:\nmsg.payload = {\n  node_id,\n  temperature,\n  vibration: { x, y, z },\n  alarm\n};\n\nmsg.timestamp = Date.now();\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 140,
        "wires": [
            [
                "fn_split",
                "fn_csv",
                "b021403540d61301"
            ]
        ]
    },
    {
        "id": "fn_split",
        "type": "function",
        "z": "tab_iot_dash",
        "name": "Split to UI (temp + vib x/y/z + status)",
        "func": "const p = msg.payload || {};\nconst nodeId = p.node_id || \"esp32-01\";\n\nconst temp = Number(p.temperature);\nconst vib = p.vibration || {};\nconst vx = Number(vib.x);\nconst vy = Number(vib.y);\nconst vz = Number(vib.z);\n\nconst vibLevel = Math.round(Math.sqrt(vx * vx + vy * vy + vz * vz));\nconst alarm = p.alarm || \"OK\";\n\nreturn [\n  { topic: nodeId, payload: temp },                 // out1 Temp gauge\n  { topic: nodeId, payload: temp },                 // out2 Temp chart\n  { payload: alarm },                               // out3 Alarm text\n  [                                                 // out4 Vib chart (3 lijnen)\n    { topic: \"vib_x\", payload: vx },\n    { topic: \"vib_y\", payload: vy },\n    { topic: \"vib_z\", payload: vz }\n  ],\n  { topic: nodeId, payload: vibLevel },             // out5 Trilling gauge\n  { payload: { nodeId, temp, vibLevel, alarm } }    // out6 Metingen cards\n];\n",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 60,
        "wires": [
            [
                "f1956920d31a08b4",
                "5c2f9782f655e435"
            ],
            [
                "ui_c_temp"
            ],
            [
                "5813bcb2a7d33daa"
            ],
            [
                "ui_c_vib"
            ],
            [
                "ui_txt_status",
                "f1956920d31a08b4",
                "b584e69c7de24a07"
            ],
            [
                "767878c7166edb43"
            ]
        ]
    },
    {
        "id": "ui_txt_status",
        "type": "ui_text",
        "z": "tab_iot_dash",
        "group": "",
        "order": 2,
        "width": 12,
        "height": 1,
        "name": "Status",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1160,
        "y": 260,
        "wires": []
    },
    {
        "id": "ui_c_temp",
        "type": "ui_chart",
        "z": "tab_iot_dash",
        "name": "Temp Chart",
        "group": "1721a8910c4cb1ec",
        "order": 1,
        "width": 12,
        "height": 5,
        "label": "Temperature Trend (°C)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 10,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b",
            "#e377c2",
            "#7f7f7f"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 160,
        "wires": [
            [
                "cd063e3a81d67309"
            ]
        ]
    },
    {
        "id": "ui_c_vib",
        "type": "ui_chart",
        "z": "tab_iot_dash",
        "name": "Vibration Chart",
        "group": "1721a8910c4cb1ec",
        "order": 2,
        "width": 12,
        "height": 5,
        "label": "Vibration Trend (x/y/z)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 10,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#2ca02c",
            "#d62728",
            "#1f77b4",
            "#9467bd",
            "#8c564b",
            "#e377c2",
            "#7f7f7f",
            "#aec7e8"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1340,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "fn_csv",
        "type": "function",
        "z": "tab_iot_dash",
        "name": "To CSV line",
        "func": "const d = msg.payload;\nconst ts = d.timestamp;\nconst line = `${ts},${d.node_id},${d.temperature},${d.vibration.x},${d.vibration.y},${d.vibration.z}\\n`;\nmsg.payload = line;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 280,
        "wires": [
            [
                "file_append"
            ]
        ]
    },
    {
        "id": "file_append",
        "type": "file",
        "z": "tab_iot_dash",
        "name": "Append to sensor_log.csv",
        "filename": "sensor_log.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1160,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "cd063e3a81d67309",
        "type": "debug",
        "z": "tab_iot_dash",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 220,
        "wires": []
    },
    {
        "id": "ed8653b85f990ac0",
        "type": "function",
        "z": "tab_iot_dash",
        "name": "function 1",
        "func": "const nodeId = \"esp32-01\";\n\nmsg.payload = {\n    node_id: nodeId,\n    temperature: +(20 + Math.random() * 10).toFixed(2),\n    vibration: {\n        x: Math.floor(80 + Math.random() * 60),\n        y: Math.floor(80 + Math.random() * 60),\n        z: Math.floor(80 + Math.random() * 60),\n    },\n    timestamp: new Date().toISOString(),\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 120,
        "wires": [
            [
                "fn_normalize"
            ]
        ]
    },
    {
        "id": "5c2f9782f655e435",
        "type": "ui_gauge",
        "z": "tab_iot_dash",
        "name": "",
        "group": "7a6e63f7efad4f0b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatuur",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1430,
        "y": 160,
        "wires": []
    },
    {
        "id": "b584e69c7de24a07",
        "type": "ui_gauge",
        "z": "tab_iot_dash",
        "name": "",
        "group": "7a6e63f7efad4f0b",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Trilling",
        "label": "niveau",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 500,
        "wires": []
    },
    {
        "id": "5813bcb2a7d33daa",
        "type": "ui_text",
        "z": "tab_iot_dash",
        "group": "7a6e63f7efad4f0b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "b021403540d61301",
        "type": "ui_template",
        "z": "tab_iot_dash",
        "group": "32396113d8ef7a56",
        "name": "Metingen cards",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div class=\"meting-cards\" ng-init=\"p=msg.payload\">\n  <div class=\"card\">\n    <div class=\"title\">Temperatuur</div>\n    <div class=\"value\">{{p.temp | number:2}} <span class=\"unit\">°C</span></div>\n    <div class=\"sub\">Node: {{p.nodeId}}</div>\n  </div>\n\n  <div class=\"card\">\n    <div class=\"title\">Trilling</div>\n    <div class=\"value\">{{p.vibLevel}} <span class=\"unit\">niveau</span></div>\n    <div class=\"sub\">\n      Alarm: <span ng-class=\"{'ok': p.alarm=='OK', 'bad': p.alarm!='OK'}\">{{p.alarm}}</span>\n    </div>\n  </div>\n</div>\n\n<style>\n  .meting-cards {\n    display: grid;\n    grid-template-columns: 1fr 1fr;\n    gap: 14px;\n    padding: 8px;\n  }\n\n  .meting-cards .card {\n    background: rgba(255, 255, 255, .92);\n    border-radius: 16px;\n    padding: 16px;\n    box-shadow: 0 12px 30px rgba(0, 0, 0, .18);\n  }\n\n  .meting-cards .title {\n    font-weight: 800;\n    font-size: 14px;\n    color: #0b5f7a;\n    margin-bottom: 10px;\n  }\n\n  .meting-cards .value {\n    font-weight: 900;\n    font-size: 34px;\n    color: #111;\n    line-height: 1;\n  }\n\n  .meting-cards .unit {\n    font-size: 14px;\n    font-weight: 700;\n    color: #555;\n    margin-left: 6px;\n  }\n\n  .meting-cards .sub {\n    margin-top: 10px;\n    color: #444;\n    font-size: 13px;\n  }\n\n  .meting-cards .ok {\n    color: #1a7f37;\n    font-weight: 900;\n  }\n\n  .meting-cards .bad {\n    color: #b42318;\n    font-weight: 900;\n  }\n\n  @media (max-width:900px) {\n    .meting-cards {\n      grid-template-columns: 1fr;\n    }\n  }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 280,
        "y": 420,
        "wires": [
            [
                "fn_split"
            ]
        ]
    },
    {
        "id": "767878c7166edb43",
        "type": "function",
        "z": "tab_iot_dash",
        "name": "To Metingen cards",
        "func": "const p = msg.payload || {};\nconst nodeId = p.node_id || \"esp32-01\";\n\nconst temp = Number(p.temperature);\nconst vib = p.vibration || {};\nconst vx = Number(vib.x);\nconst vy = Number(vib.y);\nconst vz = Number(vib.z);\n\nconst vibLevel = Math.round(Math.sqrt(vx*vx + vy*vy + vz*vz));\nconst alarm = p.alarm || \"OK\";\n\n// NIEUWE msg maken (niet dezelfde msg aanpassen)\nreturn {\n  ...msg,\n  payload: { nodeId, temp, vibLevel, alarm }\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "f1956920d31a08b4",
        "type": "debug",
        "z": "tab_iot_dash",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 80,
        "wires": []
    },
    {
        "id": "c950d6eaa7b2969d",
        "type": "ui_template",
        "z": "tab_iot_dash",
        "group": "",
        "name": "Theme / Background",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* ===== Background ===== */\n    body.nr-dashboard-theme,\n    .nr-dashboard-theme .md-content {\n        background: radial-gradient(1200px 800px at 20% 10%, rgba(0, 180, 255, .25), transparent 60%),\n            radial-gradient(1000px 700px at 85% 20%, rgba(160, 90, 255, .22), transparent 55%),\n            radial-gradient(900px 700px at 60% 85%, rgba(0, 255, 170, .10), transparent 55%),\n            linear-gradient(135deg, #081a25 0%, #0b1020 45%, #120a1e 100%) !important;\n        background-attachment: fixed !important;\n    }\n\n    /* ===== Header bar ===== */\n    .nr-dashboard-theme md-toolbar {\n        background: rgba(10, 130, 165, .95) !important;\n        box-shadow: 0 12px 30px rgba(0, 0, 0, .35) !important;\n    }\n\n    /* ===== Cards / widgets ===== */\n    .nr-dashboard-theme md-card {\n        background: rgba(255, 255, 255, .08) !important;\n        border: 1px solid rgba(255, 255, 255, .10) !important;\n        border-radius: 18px !important;\n        box-shadow: 0 18px 45px rgba(0, 0, 0, .40) !important;\n        backdrop-filter: blur(10px);\n    }\n\n    /* ===== Titles ===== */\n    .nr-dashboard-theme md-card md-card-title {\n        color: #d8f6ff !important;\n    }\n\n    /* ===== Text ===== */\n    .nr-dashboard-theme .nr-dashboard-cardtitle,\n    .nr-dashboard-theme .label,\n    .nr-dashboard-theme .value,\n    .nr-dashboard-theme .md-title,\n    .nr-dashboard-theme .md-subhead,\n    .nr-dashboard-theme span {\n        color: rgba(255, 255, 255, .92);\n    }\n\n    /* ===== Charts nicer spacing ===== */\n    .nr-dashboard-theme .nr-dashboard-chart text {\n        fill: rgba(255, 255, 255, .75) !important;\n    }\n\n    /* ===== Tabs (als je tabs gebruikt) ===== */\n    .nr-dashboard-theme md-tabs md-ink-bar {\n        background: #66e0ff !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 640,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2ebe99f59f57164e",
        "type": "ui_spacer",
        "z": "tab_iot_dash",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "MQTT Broker (edit me)",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "1721a8910c4cb1ec",
        "type": "ui_group",
        "name": "Charts",
        "tab": "ui_tab_iot",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a6e63f7efad4f0b",
        "type": "ui_group",
        "name": "KPIs",
        "tab": "ui_tab_iot",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "32396113d8ef7a56",
        "type": "ui_group",
        "name": "Metingen",
        "tab": "ui_tab_iot",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui_tab_iot",
        "type": "ui_tab",
        "name": "IoT Demo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4dca75d82383603d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]